@tailwind base;
@tailwind components;
@tailwind utilities;

/* .circle {
  width:500px;
  height: 500px;
  background-color:rgb(250, 250, 196);
  filter: blur(120px);
  z-index: 0;
} */

.bg-line {
  background: linear-gradient(180deg, transparent 50%, #E9FB64 50% 90%, rgba(0, 0, 0, 0) 90%);
}
.nav-bg-style {
  background: rgba(255, 255, 255, 0.5);
  /* hsla(0,0%,100%,.8); */
}